body, html{
	padding: 0;
	margin: 0;
}
body{
	background-image:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSp7Wbce0lxBYrN0SLcXcnzzyjZNn75ZXFpl3qs9bBdyVJFt0h9");background-repeat:round;
}
.container{
	width: 700px;
	height: 700px;
	margin: 0 auto;

}
p,h2,h3{margin-bottom:20px;color:white;}
.main{
height:100%;
min-height:100vh;

}
h2{
	text-align:center;
	padding:10px;
	margin:0;
}
.img img{
	width:700px;
	height:460px;
}
.img p{
	font-size:20px;
	text-indent:15px;
}
.menu{
	font-size:20px;
	text-align:left;
}
.menu h3{
	text-align:center;
}
a:link{
	text-decoration:none;
	color:black;
}
a:visited{
	text-decoration:none;
	color:black;
}
.img1 img{
	width:400px;
	height:300px;
	margin-left:140px;
}

.img2 img{
	margin-left:50px;
	width:600px;
	height:480px;
}
.ssilki{
		margin-left:180px;
		font-size:20px;
}
.text h3{
	text-align:center;
}
.another{
	font-size:20px;
	text-indent:15px;
}
.gip{
	position:absolute;
	margin: 0 auto;
	top:35%;
	left:25%;
}
.img3 img{
	width:700px;
	height:500px;
}
.img4 img{
	margin-left:150px;
	width:400px;
	height:250px;
}
.img5 img{
	width:700px;
	height:400x;
}
.img6 img{
	width:400px;
	height:350px;
	margin-left:150px;
}
.img9 img{
	width:400px;
	height:350px;
	display:inline-block;
	margin-right:40px;
}
.img7 img{
	width:350px;
	height:350px;
	display:inline-block;
	margin-right:40px;
}
.ul2,.ul1{
	font-size:30px;
	display:inline-block;
}
.img8{
	width:500px;
	height:400px;
	margin-left:150px;
}
.fix{
	position:fixed;
	bottom:100px;
	left:30px;
	font-size:22px;
	border:solid 1px grey;
	background-color:Peru;
}